{% extends themes %}

{% block body %}

    <h4>Add Project Link</h4>
    <form class="entity" action="{{ path('links_project_add') }}" method="post" {{ form_enctype(form) }} >

        {{ form_widget(form._token) }}

        <div class="form-group">
            {{ form_widget(form.url) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.description) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.technology) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.project_type) }}
        </div>



        <div class="form-group" id="tagsWrapper" data-item="">

        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="create" />
        </div>

    </form>

    <br/><br/>

    <script type="text/javascript">

    </script>

{% endblock body %}
