{% extends themes %}


{% block body %}


<div style="padding:30px;">

    <h3>View Bulk Links</h3>

    <p>
        <a href="{{ path('links_bulklinks') }}" >Back</a>
    </p>

    <div class="row">

        <div class="medium-5 columns">
            <form class="entity" action="{{ path('links_bulklinks_view') }}" method="post" {{ form_enctype(form) }} >
                
                {{ form_errors(form) }}
                <div class="form-group">
                {{ form_widget(form) }}
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
        <div class="medium-7 columns"></div>

    </div>


    <div class="row">
        <div id="linkContainer"></div>
    </div>


</div>
<script type="text/javascript">

        $('#{{ form.list.vars.id }}').change(function(){
            var listValue = $(this).val();
            //$('#linkContainer').html('<img src="web/images/loader-arrow.gif" />');
            loadListItems(listValue);
        });

        function loadListItems(listVal){
            if(listVal != ''){
                $.ajaxSetup ({
                    cache: false
                });
                var url = '{{ path('links_bulklinks_viewbylist') }}';
                $('#linkContainer').html("<b>Loading</b>").load(url,{listname:listVal});
            }
        }
    </script>

{% endblock %}

